{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>{{ user.name }} <span style="color: #28a745;">${{ user.balance }}</span></h1>
    <input type="text" placeholder="Search">
    <h2>Recommended</h2>
    <div class="card">Sleep Trends <span style="float: right; color: #28a745;">$10</span></div>
    <div class="card">Health Trends <span style="float: right; color: #28a745;">$5</span></div>
    <h2>Saved</h2>
    <div class="card">Social Media <span style="float: right; color: #28a745;">$5</span></div>
{% endblock %}